<div class="home-slide">
    <div class="home-slide-list" #ngHomeSlideList>
        <ng-container *ngFor="let img of bannerImgs; index as idx">
            <div class="home-slide-item" [class.active]="itemActive === idx">
                <img src={{img}} alt="">
            </div>
        </ng-container>
    </div>
    <div class="slide-btn-group">
        <ng-container *ngFor="let img of bannerImgs; index as idx">
            <div class="slide-btn" [class.active]="itemActive === idx" (click)="changeItemActive(idx)"></div>
        </ng-container>
    </div>
</div>
<div class="home-content">
    <app-slide [list]="list" [itemMargin]="40" [type]="1">{{'task5.Artist' | translate}}</app-slide>
    <app-slide [list]="list" [itemMargin]="15" [type]="2">{{'task5.Featured-album' | translate}}</app-slide>
    <app-voice-chart></app-voice-chart>
    <app-slide [list]="list" [itemMargin]="15" [type]="3">{{'task5.Suggest' | translate}}</app-slide>
    <app-slide [list]="list" [itemMargin]="15" [type]="3">{{'task5.Latest' | translate}}</app-slide>
    <app-popular-tag></app-popular-tag>
    <app-footer></app-footer>
</div>