@import url("../../assets/fonts/roboto.css");

body{
    background-color: var(--bg-black);
    color: white;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

.btn-direction{
    svg{
        width: 22px;
        background-color: transparent;
        padding: 5px;
        border-radius: 3px;
        fill: #ed4e3e;
        &:hover{
            cursor: pointer;
        }
    }
}

.btn-direction.disabled {
    svg{
        fill: var(--text-gray);
    }
}

.task5{
    // height: 97vh;
    overflow: hidden;
}

.task5-body{
    margin-top: 47px;
    padding: 0 3%;    

}

.task5-content{
    height: 89vh;
    overflow-y: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar {
        display: none;
    }
}

svg{
    fill: var(--text-gray);
    width: 16px;
}

app-header{
    padding: 0;
    background-color: var(--bg-black2);
}

.nav{
    border-right: 1px solid var(--border);
    height: 89vh;
}

// .task5-content{
//     // padding-left: 3%;
// }
@media screen and (max-width: 992px){
    .nav{
        position: absolute;
        width: 200px;
        background-color: var(--bg-black);
        transform: translateX(-100%);
        opacity: 0;
        z-index: 10;
        transition: all 0.3s;
    }
    .nav.show{
        opacity: 1;
        transform: translateX(0);
    }
}