<div class="popular">
    <h5>{{'task5.Popular-tag' | translate}}</h5>
    <div class="popular-list">
        <div class="popular-tag">
            anime
        </div>
        <div class="popular-tag">
            7 viên ngọc rồng OST
        </div>
        <div class="popular-tag">
            5 anh em siêu nhân
        </div>
        <div class="popular-tag">
            nhạc phim
        </div>
        <div class="popular-tag">
            anime
        </div>
        <div class="popular-tag">
            anime
        </div>
        <div class="popular-tag">
            anime
        </div>
        <div class="popular-tag">
            anime
        </div>
        <div class="popular-tag">
            anime
        </div>
        <div class="popular-tag">
            anime
        </div>
        <div class="popular-tag">
            anime
        </div>
    </div>
</div>